This is the first part of my Materials Data Challenge. 
I'm am going to extract data from the following paper:
http://iopscience.iop.org/article/10.1088/1367-2630/18/1/013003/meta
Note: This is an open-access journal, so one shouldn't need some type of academic license to view it.

In [70]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
url = "http://iopscience.iop.org/article/10.1088/1367-2630/18/1/013003/meta"
resp = requests.get(url)
html = resp.text

In [3]:
soup = BeautifulSoup(html, "lxml")

This finds all the tables and puts them into one variable, but I want each table individually

In [12]:
table_1 = soup.find_all('table')[0]
df_1 = pd.read_html(str(table_1))
df_1

[   Unnamed: 0 Unnamed: 1 Unnamed: 2   Sc   Ti    V   Cr   Mn   Fe   Co   Ni  \
 0         NaN      U = 0      total  0.8  2.9  2.1  2.3  5.3  5.9  1.6  1.5
 1         NaN        NaN      metal  0.1  0.8  2.9  4.0  4.6  4.1  1.3  0.1
 2         MPc      U = 4      total  0.8  3.9  3.2  3.7  5.3  5.9  4.6  3.2
 3         NaN        NaN      metal  0.0  1.1  3.0  4.2  4.8  4.2  2.7  1.6
 4         NaN      U = 8      total  0.8  3.8  3.2  4.1  5.3  5.8  4.4  2.9
 5         NaN        NaN      metal  0.0  1.1  3.0  4.2  4.9  4.6  2.8  1.7
 6         NaN      U = 0      total  0.8  1.6  1.2  4.0  4.7  4.1  1.0  0.0
 7         NaN        NaN      metal  0.0  1.5  2.4  4.0  4.7  4.1  1.1  0.0
 8      F16MPc      U = 4      total  0.8  1.5  3.2  4.0  4.9  3.4  2.9  1.9
 9         NaN        NaN      metal  0.0  1.5  2.6  4.1  5.0  4.2  2.6  1.5
 10        NaN      U = 8      total  0.8  1.4  3.3  4.0  5.0  3.4  3.0  1.9
 11        NaN        NaN      metal  0.0  1.3  2.3  4.1  5.0  4.3  2.8  1.6

      Cu   Zn   Ag
 0   2.2  0.4  1.6
 1   0.5  0.0  0.2
 2   1.8  0.4  1.9
 3   0.5  0.0  0.2
 4   1.6  0.4  2.1
 5   0.5  0.0  0.2
 6   1.1  0.0  0.7
 7   0.5  0.0  0.2
 8   1.1  0.0  0.8
 9   0.5  0.0  0.3
 10  1.1  0.0  0.9
 11  0.5  0.0  0.3  ]

In [5]:
table_2 = soup.find_all('table')[1]
df_2 = pd.read_html(str(table_2))
df_2

[  Unnamed: 0 Unnamed: 1     Sc    Ti      V  Cr  Mn    Fe  Co  Ni     Cu  \
 0        NaN      U = 0  −18.0   0.0      0   0   0  99.9   0   0      0
 1      AuMPc      U = 4   −3.0   0.0      0   0   0  51.7   0   0    8.3
 2        NaN      U = 8  −16.0   0.0      0   0   0  −2.5   0   0      0
 3        NaN      U = 0   48.8  99.9   14.2   0   0     0   0   0      0
 4   AuF16MPc      U = 4   70.4  98.0   64.3   0   0     0   0   0  −99.9
 5        NaN      U = 8   74.1  99.0  −90.6   0   0     0   0   0  −99.3

      Zn    Ag
 0   0.0  99.9
 1  68.4  99.9
 2  72.9  97.9
 3   0.0  99.5
 4   0.0  99.2
 5   0.0  98.6  ]

The tables have been successfully imported! But we are not ready to start analyzing our data just yet; some formatting issues have shown up.

1) But it is obvious some data points are "missing" beacuse the original table didn't fill them in and left them around to be implied. e.g. In the first table, all the DFT+U statements should be repeated on the next line to refer to both the moment of molecule and metal ion.

2) The titles are all over the place! 

We'll have to modify them in by hand.

In [6]:
#Copying the MPc/F16MPc and the U value in table 1

In [13]:
df_1.to_csv('table_1.csv',spe=',')

AttributeError: 'list' object has no attribute 'to_csv'

In [288]:
df_3 = pd.concat(df_1)
df_3 = df_3.rename(columns= {"Unnamed: 0":"Molecule", "Unnamed: 1":"U Level", "Unnamed: 2":"Calc Type"})
df_3

,Molecule,U Level,Calc Type,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn,Ag
0,NaN,U = 0,total,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6
1,NaN,NaN,metal,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2
2,MPc,U = 4,total,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9
3,NaN,NaN,metal,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2
4,NaN,U = 8,total,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1
5,NaN,NaN,metal,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2
6,NaN,U = 0,total,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7
7,NaN,NaN,metal,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2
8,F16MPc,U = 4,total,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8
9,NaN,NaN,metal,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3
10,NaN,U = 8,total,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9
11,NaN,NaN,metal,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3

In [32]:
df_4 = df_3.str.replace([NaN], "MPc")

AttributeError: 'DataFrame' object has no attribute 'str'

In [52]:
type(df_3['Molecule'])

pandas.core.series.Series

In [47]:
df_3[0:6,0:1]

TypeError: unhashable type: 'slice'

In [56]:
df_3[1:].dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [296]:
df_1.iloc[0:int(len(df_1)/2),0] = 'MPc'
df_1.iloc[int(len(df_1)/2):int(len(df_1)),0] = 'F16MPc'

AttributeError: 'list' object has no attribute 'iloc'

In [66]:
df_3.iloc[0:3,1]

0    U = 0
1      NaN
2    U = 4
Name: U Level, dtype: object

In [81]:
df_3.iloc[1,1]

nan

In [82]:
df_3.iloc[1,1] = 'U = 0'

In [105]:
df_3

,Molecule,U Level,Calc Type,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn,Ag
0,MPc,U = 0,total,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6
1,MPc,NaN,metal,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2
2,MPc,U = 4,total,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9
3,MPc,NaN,metal,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2
4,MPc,U = 8,total,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1
5,MPc,NaN,metal,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2
6,F16MPc,U = 0,total,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7
7,F16MPc,NaN,metal,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2
8,F16MPc,U = 4,total,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8
9,F16MPc,NaN,metal,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3
10,F16MPc,U = 8,total,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9
11,F16MPc,NaN,metal,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3

In [78]:
values = {'Molecule': 'MPc', 'U Level':'U = 4'}
df_3.fllna(values=values)

AttributeError: 'DataFrame' object has no attribute 'fllna'

In [106]:
df_3

,Molecule,U Level,Calc Type,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn,Ag
0,MPc,U = 0,total,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6
1,MPc,NaN,metal,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2
2,MPc,U = 4,total,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9
3,MPc,NaN,metal,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2
4,MPc,U = 8,total,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1
5,MPc,NaN,metal,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2
6,F16MPc,U = 0,total,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7
7,F16MPc,NaN,metal,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2
8,F16MPc,U = 4,total,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8
9,F16MPc,NaN,metal,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3
10,F16MPc,U = 8,total,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9
11,F16MPc,NaN,metal,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3

In [98]:
type(len(df_3))

int

In [93]:
df_3.iloc[0:6,1]

0    U = 0
1    U = 0
2    U = 4
3      NaN
4    U = 8
5      NaN
Name: U Level, dtype: object

In [294]:
# df_3.iloc[1,1] = 'U = 0'
for n in range(len(df_3)):
    if df_3.iloc[n,1] is np.nan:
        df_3.iloc[n,1] = df_3.iloc[n-1,1]

In [171]:
df_3

,Molecule,U Level,Calc Type,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn,Ag
0,MPc,U = 0,total,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6
1,MPc,U = 0,metal,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2
2,MPc,U = 4,total,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9
3,MPc,U = 4,metal,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2
4,MPc,U = 8,total,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1
5,MPc,U = 8,metal,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2
6,F16MPc,U = 0,total,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7
7,F16MPc,U = 0,metal,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2
8,F16MPc,U = 4,total,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8
9,F16MPc,U = 4,metal,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3
10,F16MPc,U = 8,total,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9
11,F16MPc,U = 8,metal,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3

In [146]:
if df_3.iloc[1,1] is np.NaN:
    print('working')
else:
    print('bad')

working

In [131]:
type(df_3.iloc[1,1])

float

In [186]:
type(df_3.iloc[3,1])

str

In [136]:
df_3.iloc[1,1]

nan

In [145]:
is df_3.iloc[1,1] == np.NaN

SyntaxError: invalid syntax (<ipython-input-145-f1acf87cc0ca>, line 1)

In [149]:
df_3

,Molecule,U Level,Calc Type,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn,Ag
0,MPc,U = 0,total,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6
1,MPc,U = 0,metal,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2
2,MPc,U = 4,total,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9
3,MPc,U = 4,metal,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2
4,MPc,U = 8,total,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1
5,MPc,U = 8,metal,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2
6,F16MPc,U = 0,total,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7
7,F16MPc,U = 0,metal,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2
8,F16MPc,U = 4,total,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8
9,F16MPc,U = 4,metal,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3
10,F16MPc,U = 8,total,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9
11,F16MPc,U = 8,metal,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3

In [175]:
# df_4 = pd.to_numeric(df_3.iloc[:,1], errors ='raise')
# Doesn't work - returns the whole column as NaN

In [162]:
df_3.iloc[:,1]

0     U = 0
1     U = 0
2     U = 4
3     U = 4
4     U = 8
5     U = 8
6     U = 0
7     U = 0
8     U = 4
9     U = 4
10    U = 8
11    U = 8
Name: U Level, dtype: object

In [216]:
df_3.iloc[:,1] = df_3.iloc[:,1].str.replace('U\xa0=\xa0*','')

In [195]:
type(df_3.iloc[:,1])

pandas.core.series.Series

In [196]:
type(df_3.iloc[1,1])

str

In [197]:
df_3.iloc[1,1]

'U\xa0=\xa00'

In [215]:
df_4

0     0
1     0
2     4
3     4
4     8
5     8
6     0
7     0
8     4
9     4
10    8
11    8
Name: U Level, dtype: object

In [209]:
df_3.iloc[:,1].str.contains('U\xa0=\xa0*') # wildcard bitches!

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
Name: U Level, dtype: bool

In [217]:
df_3

,Molecule,U Level,Calc Type,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn,Ag
0,MPc,0,total,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6
1,MPc,0,metal,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2
2,MPc,4,total,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9
3,MPc,4,metal,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2
4,MPc,8,total,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1
5,MPc,8,metal,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2
6,F16MPc,0,total,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7
7,F16MPc,0,metal,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2
8,F16MPc,4,total,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8
9,F16MPc,4,metal,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3
10,F16MPc,8,total,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9
11,F16MPc,8,metal,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3

In [219]:
type(df_3.iloc[1,1])

str

In [221]:
df_3.iloc[:,1] = pd.to_numeric(df_3.iloc[:,1], errors='coerce')

In [222]:
df_3

,Molecule,U Level,Calc Type,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn,Ag
0,MPc,0,total,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6
1,MPc,0,metal,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2
2,MPc,4,total,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9
3,MPc,4,metal,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2
4,MPc,8,total,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1
5,MPc,8,metal,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2
6,F16MPc,0,total,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7
7,F16MPc,0,metal,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2
8,F16MPc,4,total,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8
9,F16MPc,4,metal,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3
10,F16MPc,8,total,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9
11,F16MPc,8,metal,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3

In [223]:
type(df_3.iloc[1,1])

numpy.int64

In [241]:
from sklearn import preprocessing

In [226]:
df_3_test = df_3

In [231]:
df_3_test.iloc[:,0].preprocessing.LabelEncoder()

AttributeError: 'Series' object has no attribute 'preprocessing'

In [249]:
le = preprocessing.LabelEncoder()
ohe = preprocessing.OneHotEncoder()

In [261]:
df_3_labelencoded = df_3.apply(le.fit_transform)

In [254]:
df_3_labelencoded

    Molecule  U Level  Calc Type  Sc  Ti  V  Cr  Mn  Fe  Co  Ni  Cu  Zn  Ag
0          1        0          1   2   6  1   0   5   6   3   2   4   1   5
1          1        0          0   1   0  5   2   0   1   2   1   0   0   0
2          1        1          1   2   8  7   1   5   6  10   7   3   1   6
3          1        1          0   0   1  6   4   2   2   5   3   0   0   0
4          1        2          1   2   7  7   3   5   5   9   6   2   1   7
5          1        2          0   0   1  6   4   3   4   6   4   0   0   0
6          0        0          1   2   5  0   2   1   1   0   0   1   0   2
7          0        0          0   0   4  3   2   1   1   1   0   0   0   0
8          0        1          1   2   4  7   2   3   0   7   5   1   0   3
9          0        1          0   0   4  4   3   4   2   4   2   0   0   1
10         0        2          1   2   3  8   2   4   0   8   5   1   0   4
11         0        2          0   0   2  2   3   4   3   6   3   0   0   1

In [257]:
df_3_labelencoded.iloc[0,0]

1

In [262]:
dr_3_onehotencoded = df_3.apply(ohe.fit_transform)

ValueError: ("could not convert string to float: 'F16MPc'", 'occurred at index Molecule')

In [266]:
df_3_obj = df_3.select_dtypes(include = ['object']).copy()
df_3_obj

   Molecule Calc Type
0       MPc     total
1       MPc     metal
2       MPc     total
3       MPc     metal
4       MPc     total
5       MPc     metal
6    F16MPc     total
7    F16MPc     metal
8    F16MPc     total
9    F16MPc     metal
10   F16MPc     total
11   F16MPc     metal

In [267]:
df_3_obj.head()

  Molecule Calc Type
0      MPc     total
1      MPc     metal
2      MPc     total
3      MPc     metal
4      MPc     total

In [270]:
df_3_obj =pd.get_dummies(df_3_obj)

In [271]:
df_3_obj

    Molecule_F16MPc  Molecule_MPc  Calc Type_metal  Calc Type_total
0                 0             1                0                1
1                 0             1                1                0
2                 0             1                0                1
3                 0             1                1                0
4                 0             1                0                1
5                 0             1                1                0
6                 1             0                0                1
7                 1             0                1                0
8                 1             0                0                1
9                 1             0                1                0
10                1             0                0                1
11                1             0                1                0

In [273]:
df_3_ohe = pd.get_dummies(df_3)
df_3_ohe

,U Level,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn,Ag,Molecule_F16MPc,Molecule_MPc,Calc Type_metal,Calc Type_total
0,0,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6,0,1,0,1
1,0,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2,0,1,1,0
2,4,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9,0,1,0,1
3,4,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2,0,1,1,0
4,8,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1,0,1,0,1
5,8,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2,0,1,1,0
6,0,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7,1,0,0,1
7,0,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2,1,0,1,0
8,4,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8,1,0,0,1
9,4,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3,1,0,1,0
10,8,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9,1,0,0,1
11,8,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3,1,0,1,0

In [280]:
d_occupancy = {
    "Sc":1,
    "Ti":2,
    "V":3,
    "Cr":5,
    "Mn":5,
    "Fe":6,
    "Co":7,
    "Ni":8,
    "Cu":9,
    "Zn":10,
    "Ag":9
}
# Note this does not account for oxidation state, just the number of electrons in the d orbital

In [283]:
d_unpaired = {
        "Sc":1,
    "Ti":2,
    "V":3,
    "Cr":4,
    "Mn":5,
    "Fe":4,
    "Co":3,
    "Ni":2,
    "Cu":1,
    "Zn":0,
    "Ag":1
}

# this accounts for the number of UNPAIRED electrons in the d orbital assuming a +2 oxidation state and
# assuming the d orbitals filled the unoccupied orbitals before doubly filling the orbital

In [284]:
d_spin = {
            "Sc":0,
    "Ti":0.5,
    "V":0,
    "Cr":1,
    "Mn":1.5,
    "Fe":1.0,
    "Co":0.5,
    "Ni":0,
    "Cu":0.5,
    "Zn":0,
    "Ag":0.5
}

# the actual spin state of each metal assuming a +2 oxidation state
# filling according to energy levels given from a D4h symmeteric molecule

In [290]:
df_3_spin = df_3.rename(columns= d_spin)

In [291]:
df_3_spin

,Molecule,U Level,Calc Type,0,0.5,0,1,1.5,1.0,0.5,0,0.5,0,0.5
0,NaN,U = 0,total,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6
1,NaN,NaN,metal,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2
2,MPc,U = 4,total,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9
3,NaN,NaN,metal,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2
4,NaN,U = 8,total,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1
5,NaN,NaN,metal,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2
6,NaN,U = 0,total,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7
7,NaN,NaN,metal,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2
8,F16MPc,U = 4,total,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8
9,NaN,NaN,metal,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3
10,NaN,U = 8,total,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9
11,NaN,NaN,metal,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3

In [295]:
df_3

,Molecule,U Level,Calc Type,Sc,Ti,V,Cr,Mn,Fe,Co,Ni,Cu,Zn,Ag
0,NaN,U = 0,total,0.8,2.9,2.1,2.3,5.3,5.9,1.6,1.5,2.2,0.4,1.6
1,NaN,U = 0,metal,0.1,0.8,2.9,4.0,4.6,4.1,1.3,0.1,0.5,0.0,0.2
2,MPc,U = 4,total,0.8,3.9,3.2,3.7,5.3,5.9,4.6,3.2,1.8,0.4,1.9
3,NaN,U = 4,metal,0.0,1.1,3.0,4.2,4.8,4.2,2.7,1.6,0.5,0.0,0.2
4,NaN,U = 8,total,0.8,3.8,3.2,4.1,5.3,5.8,4.4,2.9,1.6,0.4,2.1
5,NaN,U = 8,metal,0.0,1.1,3.0,4.2,4.9,4.6,2.8,1.7,0.5,0.0,0.2
6,NaN,U = 0,total,0.8,1.6,1.2,4.0,4.7,4.1,1.0,0.0,1.1,0.0,0.7
7,NaN,U = 0,metal,0.0,1.5,2.4,4.0,4.7,4.1,1.1,0.0,0.5,0.0,0.2
8,F16MPc,U = 4,total,0.8,1.5,3.2,4.0,4.9,3.4,2.9,1.9,1.1,0.0,0.8
9,NaN,U = 4,metal,0.0,1.5,2.6,4.1,5.0,4.2,2.6,1.5,0.5,0.0,0.3
10,NaN,U = 8,total,0.8,1.4,3.3,4.0,5.0,3.4,3.0,1.9,1.1,0.0,0.9
11,NaN,U = 8,metal,0.0,1.3,2.3,4.1,5.0,4.3,2.8,1.6,0.5,0.0,0.3